.app {
  padding: 30px;
  background-color: #5C5F30;
  height: 100vh;
}


.todo__header {
  padding: 30px;
  background-color: #F0DAC0;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  
}


